<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="helloWorld" class="com.testioc.HelloWorld" scope="singleton" init-method="init" destroy-method="destory">-->
    <!--<bean id="helloWorld" class="com.testioc.HelloWorld" scope="prototype" init-method="init" destroy-method="destory">-->
    <bean id="helloWorld" class="com.testioc.HelloWorld" init-method="init" destroy-method="destory">
        <property name="message" value="Hello World!" />
    </bean>
    <bean class="com.testioc.InitHelloWorld" />
</beans>